body {
font-family: 'Source Sans Pro', sans-serif;
font-size:15px;
}

header {
  display: flex;
  justify-content:left;
  align-items:left;
}

header a {
  text-decoration: none;
}

.selectschool{
  font-size: 10px;
  line-height: 3;
  margin: 10px 0;
  text-align: center;
}

.logo alt{
  color: #A9B0AF;
}

.navbar {
  width: 100%;

}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
    background-color: darkblue;
}

.navbar ul li {
  list-style-type: none;
  color: white;
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover {
  color: white;
}

.login-btn {
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
}

.state_name{
  display: center;
}

.content-table{
  font-size: 1.1em;
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
}
.content-table thead tr{
  background-color: #A9B0AF;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table th,.content-table tb{
  padding: 7px 15px;
}
.content-table tbody tr,th{
  border: 1px solid #dddddd;
  border-collapse:
}
.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #009879;
}
