{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Transfer Evaluation</h1>

<table class="content-table">
<thead>
    <tr>
    <th>approved_status</th>
    <th>sem_year_taken</th>
    <th>expiration_date</th>
    <th>course_id</th>
    <th>approver_id</th>
    <th>major_req_id</th>
    </tr>
</thead>
<tbody>
    {% for transfereval in object_list %}
    <tr>
    <th>{{ transfereval.approved_status}}</th>
    <th>{{ transfereval.sem_year_taken}}</th>
    <th>{{ transfereval.expiration_date}}</th>
    <th>{{ transfereval.course_id}}</th>
    <th>{{ transfereval.approver_id}}</th>
    <th>{{ transfereval.major_req_id}}</th>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
